
<div class="multiform">
  <div class="row">
    <div class="col-md-12">
      <div class="ui-widget">
        <% @count = 0 %>
        <%= form_for @purchase do |f| %>
            <div class="form-horizontal">
              <div class="row">
                <!--<div class="col-md-12">-->

                  <div class="col-md-6">
                    <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-3"> <p class="">Supplier</p></label>
                      <div class="col-md-8">
                        <%= f.collection_select :supplier_id, Supplier.order(:name), :id, :name, {prompt: "Select Supplier"}, {class: "form-control selectbox"} %>
                      </div>
                    </div>
                  </div></div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="control-label col-md-3"><p class="text-right">Date</p></label>
                      <div class="col-md-8">
                        <div class='input-group date'>
                          <%= f.text_field :date, :class => "form-control", :id => "datepicker1" %>
                          <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </span>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label col-md-3"><p class="text-right"> Bill Number</p></label>
                    <div class="col-md-8">
                      <% if @data.present? %>
                          <% @data = @date.bill_no.to_f + 1 %>
                      <% else %>
                          <% @data = "" %>
                      <% end %>
                      <%= f.text_field :bill_number, :class => "form-control", :value => "#{@data}" %>
                    </div>
                  </div>
                </div>
                </div>

              <hr>
              <br>
              <table class="table table-hover">

                <thead class="bg-primary">
                <tr>
                  <th>Particular/Item</th>
                  <th>Unit</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th>Action</th>
                </tr>
                </thead>

                <tbody class="add-data">
                <%= f.fields_for :purchase_items do |builder| %>
                    <%= render 'field_fields', f: builder %>
                <% end %>
                </tbody>
              </table>

              <hr>

              <div class="col-md-8">
                <%= link_to_add_fields "Add", f, :purchase_items %>
              </div>


              <div class="col-md-4 form-group">

                <div class="col-md-12">
                  <h4 class="text-right text-primary col-md-6">Total Cost:</h4>
                  <div class="col-md-6">
                    <input type="text" class="total-cost form-control" value="0" readonly>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-6"> <h4 class="text-right text-primary">Discount in Rs. :</h4></label>
                  <div class="col-md-6">
                    <%= f.text_field :discount, :class =>"form-control discount", :value => "0" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-6"><h4 class="text-right text-primary ">Grand Total:</h4></label>
                  <div class="col-md-6">
                    <input type="text" class=" grand-total form-control" value="0" disabled>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-6"><h4 class="text-right text-primary ">Price with VAT:</h4></label>
                  <div class="col-md-6">
                    <input type="text" class=" vat form-control" value="0" disabled>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-offset-5 col-md-7">
                    <%= f.submit "Create", :class => "btn btn-primary btn-block" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    var count = 1;
    vatp = <%= @company_profile.vat %>;

    $('[data-toggle="tooltip"]').tooltip();

    $('body').on('blur', '.quantity, .unit-price', function(e) {
      var row = $(this).closest('tr');
      var pr = $('.unit-price', row),
          qu = $('.quantity', row),
          total = $('.total', row);
      var grand = $('.total-cost');
      var gt = $('.grand-total');
      var vat = $('.vat');
      var dis = $('.discount');
      temp = parseFloat(total.val());
      buy_pr = parseFloat(pr.val());
      sell_pr = parseFloat(qu.val());
      discount = parseFloat(dis.val());
      vatamount = 0;

      if(!isNaN(buy_pr) && !isNaN(sell_pr) ) {
        total.val( ( sell_pr * buy_pr ).toFixed(2) );
        grand.val(( parseFloat(grand.val()) + (parseFloat(total.val() )- temp)).toFixed(2));
        gt.val(((parseFloat(grand.val()))- parseFloat(dis.val())).toFixed(2));

        vat.val(parseFloat(gt.val()) +( vatp/100 * parseFloat(gt.val()))).toFixed(2);

      }
    });
/*
    $('body').on('blur', '.total-cost , .discount', function(e) {
      var total = $('.total-cost'),
          discount = $('.discount'),
          /!*vat = $('.vat'),*!/
          grand_cost = $('.grand-total');

      total_cost = parseFloat(total.val());
      discount_per = parseFloat(discount.val());
      /!*vat_per = parseFloat(vat.val());*!/
      discount_cost = discount_per/100 * total_cost;
      /!*vat_cost = parseFloat(vat.val());*!/
      grand_total = parseFloat(grand_cost.val());
      /!*vat_cost = vat_per/100 * grand_total;*!/
      if( ! isNaN(total_cost) && !isNaN(discount_cost) ) {
        grand_cost.val( ( total_cost - discount_cost).toFixed(4));
      }
    });

    $('body').on('blur', '.vat', function(e) {
      var total = $('.total-cost'),
          discount = $('.discount'),
          vat = $('.vat'),
          grand_cost = $('.grand-total');

      total_cost = parseFloat(total.val());
      /!*discount_per = parseFloat(discount.val());*!/
      vat_per = parseFloat(vat.val());
      /!*discount_cost = discount_per/100 * total_cost;*!/
      /!*vat_cost = parseFloat(vat.val());*!/
      grand_total = parseFloat(grand_cost.val());
      vat_cost = vat_per/100 * grand_total;

      if( ! isNaN(total_cost) && !isNaN(vat_cost) ) {
        grand_cost.val( ( grand_total + vat_cost).toFixed(4));
      }
    });*/
    $('body').on('blur', '.total-cost, .discount', function(e) {
      var total = $('.total-cost'),
          discount = $('.discount'),
          vat = $('.vat'),
          grand_cost = $('.grand-total');
      total_cost = parseFloat(total.val());
      discount_cost = parseFloat(discount.val());
      grand_total = parseFloat(grand_cost.val());
      if( total_cost<discount_cost){
        alert("Discount is more than total cost");
        discount.val('0');
      }
      if( ! isNaN(total_cost) && !isNaN(discount_cost) ) {
        grand_cost.val( ( total_cost - discount_cost).toFixed(2));
        vat.val(parseFloat(grand_cost.val()) +( vatp/100 * parseFloat(grand_cost.val()))).toFixed(2);

      }
    });
    $('#datepicker1').datepicker({
      format: "yyyy/mm/dd"
    }).on('changeDate', function(e){
      $(this).datepicker('hide');
    });
   // $('.selectbox').select2();

    $('.select-item').select2();
  });

  $('select').select2();
</script>