<div class="container">
  <div class="col-sm-12">
  <h3>List All Purchase</h3><hr>
  <div class="row">
    <div class="col-sm-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Purchases</li>
    </ol>
  </div>
    </div>

  <div class="row">
    <div class="col-sm-4">
    <a href="/company_profiles/8/edit" title="Click to change current fiscal year" data-toggle="tooltip" class="text-success">
      <div class="col-sm-12">
        <% @company_profile.each_with_index do |c|  %>
            <h4>Current Fiscal Year : <%= c.fiscal_year.name %></h4>
        <% end %>
      </div></a>
    </div>
        <div class="col-md-3 pull-right">
          <a class="btn btn-primary pull-right" href="<%= new_purchase_path %>"><span><i class="fa fa-plus fa-fw">&nbsp;</i></span>
            Add New</a>
        </div>
</div>
    <hr>
      <div class="row">
        <div class="col-md-12">

          <table class="table table-hover table-responsive">
            <thead>
            <tr class="bg-primary">
              <th>S.N.</th>
              <th>Bill Number</th>
              <th>Supplier</th>
              <th>Total Cost</th>
              <th>Net Discount</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
            </thead>

            <% @purchase.each_with_index do |purchase, i| %>
                <tbody>
                <tr>
                  <td><%= (@page.to_i - 1) * @perpage+ i+1 %></td>
                  <td><%= purchase.bill_number %></a></td>
                  <td>
                    <%= purchase.supplier.name %>
                  </td>
                  <td>
                    <%= purchase.total %>
                  </td>
                  <td>
                    <%= purchase.discount %>
                  </td>
                  <td>
                    <%= purchase.date %>
                  </td>
                  <td><a title="View details" href="<%= purchase_item_path(purchase) %>" data-toggle="tooltip" data-placement="right" class="a"><i class="fa fa-eye"  aria-hidden="true"></i></a>
                </tr>
                </tbody>

            <% end %>

          </table>

        </div>
      </div>

      <%= will_paginate @purchase, renderer: BootstrapPagination::Rails %>

    </div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>