<div class="container">
  <h3>List All Units</h3><hr>
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Units</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a href="/units/new" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add New
    </a></div>
  </div><br>
  <div class="row">
    <div class="col-sm-12">
    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Print Name</th>
        <th>Actions</th>
      </tr></thead>
      <% @unit.each_with_index do |setting,i| %>
          <tbody>
          <tr>
            <td><%= (@page.to_i - 1) *10+i+1 %></td>
            <td><%= setting.name %></td>
            <td><%= setting.print_name %></td>
            <td><a title="View details" href="<%= unit_path(setting) %>" data-toggle="tooltip" data-placement="right" class="a"><i class="fa fa-eye"  aria-hidden="true"></i></a>
              <a title="Edit Details" href="<%= edit_unit_path(setting) %>" data-toggle="tooltip" data-placement="right" class="a" ><i class="fa fa-pencil-square-o"  aria-hidden="true"></i></a>
              <a title="Delete" data-method="delete" href="<%= unit_path(setting) %>" data-confirm="Are you sure?" data-toggle="tooltip" data-placement="right" class="a" ><i class="fa fa-trash-o"  aria-hidden="true"></i></a></td>
          </tr></tbody>
      <% end %>
    </table>

    <%= will_paginate @unit, renderer: BootstrapPagination::Rails %>
  </div></div>
</div>
<script>
  $(document).on("ready page:change", function() {
    $('.a').tooltip();
  });
</script>